body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #333;
  font-style: normal;
  font-size: 12px;
  font-family: NanumBarunGothic, sans-serif;
  letter-spacing: -0.2px;
}
a {
  color: #444;
  text-decoration: none;
  cursor: pointer;
}
a:visited {
  text-decoration: none;
}
li {
  margin:0px;
  padding:0px;
  list-style:none;
}
#wrap {
  min-width:1100px;
  position: relative;
  margin: 0 auto;
  height: auto;
  min-height: 100%;
  padding: 0;
}
.menu-nav {
  width: 100%;
    background: #4C5ACC;
    width: 16px;
    height: 16px;
    display: block;
    margin: 22px 0 0 0;
}
#menu_back {
  width: 100%;
  z-index: 100;
  background: #4C5ACC;
  position:fixed;
}
#menu {
  width: 10000px;
  height: 75px;
  position:fixed;
  background: #4C5ACC;
  clear: both;
  font-family: 'Noto Sans KR';
  z-index: 200;
}
ul#nav {
  float: left;
  width: 10000px;
  margin: 0;
  padding: 0;
  list-style: none;
  background: #4C5ACC;
}
ul#nav li {
  display: inline;
}
/* Nothing effect 'a' */
ul#nav li a {
  float: left;
  font-size: 21px;
  color: #FFFFFF;
  line-height: 75px;
  text-decoration: none;
  margin: 0px 40px;
  text-align: center;
  width: 129px;
}
/* Applies the active state */
ul#nav .current a, ul#nav li:hover > a  {
  color: #fff;
  background: #4C5ACC;
  background: url(../img/hr.png) no-repeat;
  background-position: bottom;
}
/* The submenu list hidden by default */
ul#nav  ul {
  display: none;
}
/* When the first level menu item is hovered, the child menu appears */
ul#nav li:hover > ul {
  position: absolute;
  display: block;
  width: 10000px;
  height: 75px;
  margin: 75px 0 0 0;
  background: #FAFAFA;
}
ul#nav li:hover > ul li a {
  float: left;
  font-size: 19px;
  line-height: 75px;
  color: #88898B;
  margin: 0;
  background: #FAFAFA;
  width: 170px;
  text-align:left;
}
ul#nav li:hover > ul li a:hover {
  color: #4C5ACC;
  text-shadow: none;
}
#content {
  padding-top: 145px;
  height: 100%;
  padding-bottom: 200px;
  background-color: #FFF;
}
.graph {
  margin: 4% 6%;
  width:88%;
  position:relative;
  vertical-align:text-bottom;
}
.graph_main {
  height:75px;
  background-color: #FAFAFA;
  border-left: 5px solid #4C5ACC;
  border-top: 1px solid #E6E6E6;
  border-right: 1px solid #E6E6E6;

  font-size: 18px;
  color: #4C5ACC;
  line-height: 21px;
}
#DAU_div, #WAU_div, #MAU_div, #DPA_div, #DARPU_div,
#DPU_div, #WPU_div, #MPU_div, #FPU_div, #Dormant_div {
  border: 1px solid #E6E6E6;
  border-top: 0px;
  padding: 53px 23px;
}
#loading {
  display:inline-block;
  width: 40px;
  height: 40px;
  border: 3px solid rgba(255,255,0,0.3);
  border-radius: 50%;
  border-top-color: #DDD;
  animation:spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}
.checks input[type="checkbox"] {  /* 실제 체크박스는 화면에서 숨김 */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0
}
.checks input[type="checkbox"] + label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.checks input[type="checkbox"] + label:before {  /* 가짜 체크박스 */
  content: ' ';
  display: inline-block;
  width: 21px;  /* 체크박스의 너비를 지정 */
  height: 21px;  /* 체크박스의 높이를 지정 */
  line-height: 21px; /* 세로정렬을 위해 높이값과 일치 */
  margin: -2px 8px 0 0;
  text-align: center;
  vertical-align: middle;
  background: #fafafa;
  border: 1px solid #cacece;
  border-radius : 3px;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
}
.checks input[type="checkbox"] + label:active:before,
.checks input[type="checkbox"]:checked + label:active:before {
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
.checks input[type="checkbox"]:checked + label:before {  /* 체크박스를 체크했을때 */
  content: '\2714';  /* 체크표시 유니코드 사용 */
  color: #99a1a7;
  text-shadow: 1px 1px #fff;
  background: #e9ecee;
  border-color: #adb8c0;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
}
.checks.etrans input[type="checkbox"] + label {
  padding-left: 30px;
}
.checks.etrans input[type="checkbox"] + label:before {
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 0;
  opacity: .6;
  box-shadow: none;
  border-color: #6cc0e5;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}
.checks.etrans input[type="checkbox"]:checked + label:before {
  position: absolute;
  content: "";
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity:1;
  background: transparent;
  border-color:transparent #6cc0e5 #6cc0e5 transparent;
  border-top-color:transparent;
  border-left-color:transparent;
  -ms-transform:rotate(45deg);
  -webkit-transform:rotate(45deg);
  transform:rotate(45deg);
}
.no-csstransforms .checks.etrans input[type="checkbox"]:checked + label:before {
  /*content:"\2713";*/
  content: "\2714";
  top: 0;
  left: 0;
  width: 21px;
  line-height: 21px;
  color: #6cc0e5;
  text-align: center;
  border: 1px solid #6cc0e5;
}
@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
