---
component: ContentPage
title: Introduction
---
h1.
  React Universal(Isomorphic) Starter Kit
h2 Features Integrated
ul
  li
    h3 React 0.14.x, react-router
    p.
      most popular framework to build better UI
  li
    h3 Babel 6
    p.
      allow you to use ES2015, ES7 and JSX.
  li
    h3 React HMR Plugin
    p.
      make your refresh count decrease.
  li
    h3 PostCSS (Sass-like through Precss)
    p.
      let you to escape from prefixing attributes.
  li
    h3 Build Scripts
    p.
      without grunt or gulp, you can use build tasks.
