:local .BIToolPage {
  position: fixed;
  top: 56px; left: 280px; right: 0; bottom: 0;

  > iframe {
    width: 100%; height: 100%;
  }
}

:local .Card {
  display: inline-block;
  width: 25%;
  padding: 0;
  margin: 0;

  > div {
    margin: 4px 8px;
  }
}
