<style>
  .error {
    color: red
  }
  .success {
    color: green;
  }
</style>
<div class="login-box">
  <div class="login-logo">
    <a href="{{{url 'home'}}}"><b>Admin</b>LTE</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Sign in to start your session</p>
    {{#if message}}
      {{{message}}}
    {{/if}}

    <form action="{{{url 'login'}}}" method="post">
      <div class="form-group has-feedback">
        <input type="text" class="form-control" name="AdminMemberID" placeholder="AdminMemberID">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" name="password" placeholder="Password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <!--<div class="col-xs-8">-->
          <!--<div class="checkbox icheck">-->
            <!--<label>-->
              <!--<input type="checkbox"> Remember Me-->
            <!--</label>-->
          <!--</div>-->
        <!--</div>-->
        <!-- /.col -->
        <div class="col-xs-12">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

    <!--<a href="#">I forgot my password</a><br>-->
    <!--<a href="{{{url 'register'}}}" class="text-center">Register a new membership</a>-->

  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
