@import './variables.scss';

$paddingVertical: 10px;
$width: calc($maxContentWidth - ($paddingVertical * 2));
$miniWidth: calc($miniContentWidth - ($paddingVertical * 2));

:local .Container {
  max-width: $width;
  padding: 0 $paddingVertical;
  margin: 0 auto;
}

:local .MiniContainer {
  max-width: $miniWidth;
  padding: 0 $paddingVertical;
  margin: 0 auto;
  @media (width < $miniContentWidth) {
    margin: 10px;
  }
}

:local .PrimaryBox {
  color: #fff;
  background: #00bcd4;
}
