@import './variables.scss';

:local .Container {
  width: calc($max-content-width - 20px);
  padding: 0 10px;
  margin: 0 auto;
  overflow: hidden;
}

:local .PrimaryBox {
  color: #fff;
  background: #00bcd4;
}
