$maxContentWidth: 1170px;

$deviceWidthXS: 480px;
$deviceWidthSM: 640px;
$deviceWidthMD: 1024px;
$deviceWidthLG: 1280px;

$mediaXS: (width <= $deviceWidthXS);
$mediaSM: ($deviceWidthXS < width <= $deviceWidthSM);
$mediaMD: ($deviceWidthSM < width <= $deviceWidthMD);
$mediaLG: ($deviceWidthMD < width);

$transition: all .2s ease-in-out;
