<div id="graph_loading" style="text-align:center;">
  <br>
  Loading...
  <br>
  <div id="loading">●</div>
</div>

<div class="graph">
  <div class="graph_main">
    <div style="margin-top:27px; margin-left:29px;">
      DAU(일일 활성 유저수)
    </div>
  </div>
  <div id="DAU_div"></div>
</div>

<div class="graph">
  <div class="graph_main">
    <div style="margin-top:27px; margin-left:29px;">
      WAU(주간 활성 유저수)
    </div>
  </div>
  <div id="WAU_div"></div>
</div>

<div class="graph">
  <div class="graph_main">
    <div style="margin-top:27px; margin-left:29px;">
      MAU(월간 활성 유저수)
    </div>
  </div>
  <div id="MAU_div"></div>
</div>
