<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        New Member Game Info
        <small>Create a Member Game Info</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="{{{url 'home'}}}"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="{{{url 'memberGameInfo'}}}">List</a></li>
        <li class="active">New Member Game Info</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-6">
            <!-- Input addon -->
            <!-- form -->
            <form action="{{{url 'memberGameInfo.store'}}}" method="post">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Member Game Info</h3>
                </div>
                <div class="box-body">
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="memberGameInfo[MemberID]" placeholder="MemberID" required/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="memberGameInfo[Level]" placeholder="Level" required/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="memberGameInfo[Exps]" placeholder="Exps" required/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="memberGameInfo[Points]" placeholder="Points" required/>
                    </div>
                </div>
            </div>
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Stat</h3>
                </div>
                <div class="box-body">
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="memberGameInfo[UserSTAT1]" placeholder="UserSTAT1" required/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="memberGameInfo[UserSTAT2]" placeholder="UserSTAT2"/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="memberGameInfo[UserSTAT3]" placeholder="UserSTAT3"/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="memberGameInfo[UserSTAT4]" placeholder="UserSTAT4"/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="memberGameInfo[UserSTAT5]" placeholder="UserSTAT5"/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="memberGameInfo[UserSTAT6]" placeholder="UserSTAT6"/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="memberGameInfo[UserSTAT7]" placeholder="UserSTAT7"/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="memberGameInfo[UserSTAT8]" placeholder="UserSTAT8"/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="memberGameInfo[UserSTAT9]" placeholder="UserSTAT9"/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="memberGameInfo[UserSTAT10]" placeholder="UserSTAT10"/>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Extra Data</h3>
                </div>
                <div class="box-body">
                    <div class="form-group has-feedback">
                        <textarea class="form-control" name="memberGameInfo[sCol1]" placeholder="sCol1"></textarea>
                    </div>
                    <div class="form-group has-feedback">
                        <textarea class="form-control" name="memberGameInfo[sCol2]" placeholder="sCol2"></textarea>
                    </div>
                    <div class="form-group has-feedback">
                        <textarea class="form-control" name="memberGameInfo[sCol3]" placeholder="sCol3"></textarea>
                    </div>
                    <div class="form-group has-feedback">
                        <textarea class="form-control" name="memberGameInfo[sCol4]" placeholder="sCol4"></textarea>
                    </div>
                    <div class="form-group has-feedback">
                        <textarea class="form-control" name="memberGameInfo[sCol5]" placeholder="sCol5"></textarea>
                    </div>
                    <div class="form-group has-feedback">
                        <textarea class="form-control" name="memberGameInfo[sCol6]" placeholder="sCol6"></textarea>
                    </div>
                    <div class="form-group has-feedback">
                        <textarea class="form-control" name="memberGameInfo[sCol7]" placeholder="sCol7"></textarea>
                    </div>
                    <div class="form-group has-feedback">
                        <textarea class="form-control" name="memberGameInfo[sCol8]" placeholder="sCol8"></textarea>
                    </div>
                    <div class="form-group has-feedback">
                        <textarea class="form-control" name="memberGameInfo[sCol9]" placeholder="sCol9"></textarea>
                    </div>
                    <div class="form-group has-feedback">
                        <textarea class="form-control" name="memberGameInfo[sCol10]" placeholder="sCol10"></textarea>
                    </div>
                </div>
            </div>
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Access</h3>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <label>
                            <input type="radio" name="memberGameInfo[HideYN]" value="Y" class="minimal" checked> Hide Yes
                        </label>
                        &nbsp;
                        <label>
                             <input type="radio" name="memberGameInfo[HideYN]" value="N" class="minimal"> Hide No
                        </label>
                    </div>
                    <div class="form-group">
                        <label>
                            <input type="radio" name="memberGameInfo[DeleteYN]" value="Y" class="minimal" checked> Delete  Yes
                        </label>
                        &nbsp;
                        <label>
                            <input type="radio" name="memberGameInfo[DeleteYN]" value="N" class="minimal"> Delete No
                        </label>
                    </div>
                </div>
            </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-default" onclick="location.href = '{{{url "memberGameInfo"}}}'">
                        Cancel
                    </button>
                </div>
                <!-- /.box-footer -->
            </form>
            <!-- /form -->
            <!-- /.box -->
        </div>
        <!-- /.col-md-6 -->
    </div>
    <!-- /.row -->
</section>
<!-- /.section -->
