<div id="predict">
  <div id="first_loading" style="text-align:center;">
    <br>
    Loading...
    <br>
    <div id="loading">●</div>
  </div>

  <div class="graph">
    <div class="graph_main">
      <div style="margin-top:27px; margin-left:29px;">
        Member Table
      </div>
    </div>
    <div id="SelectCol"></div>
    <div id="submit_loading" style="text-align:center;"></div>
    <div id="probab" style="text-align:center;"></div>
  </div>

  <fieldset>
    <legend>예측 하기</legend>
    <div id="descriptML">
      1. 학습이 모두 끝났다면, 머신러닝에 쓰일 특징 버튼을 모두 선택하기.<br><br>
      2. 예측할 사용자 아이디를 넣고 예측 하기 버튼 클릭.<br><br>
      3. 예측 성공하면 %로 확인 가능.
    </div>
  </fieldset>
</div>
