<div id="MLstart">
  <div id="first_loading" style="text-align:center;">
    <br>
    Loading...
    <br>
    <div id="loading">●</div>
  </div>

  <div class="graph">
    <div class="graph_main">
      <div style="margin-top:27px; margin-left:29px;">
        Member Table
      </div>
    </div>
    <div id="SelectCol"></div>
  </div>

  <fieldset>
    <legend>학습 시키기</legend>
    1. 머신러닝 학습을 위해서, 머신러닝에 쓰일 특징 버튼을 모두 선택하기.<br><br>
    2. Make CSV file 버튼으로 csv파일을 생성하기.<br><br>
    3. 미리 만들어놓은 예측모델 링크 사이트로 접속하기.<br><br>
    4. 데이터 추가하고, 학습(Run)한 다음 Web으로 배포하기 버튼 클릭.<br><br>
    5. API key, URL 복사하여 따로 저장해 두기.<br><br>
    6. Admin-Web의 web.config 파일에 API key, URL 추가하기.
  </fieldset>
</div>

<div id="submit_loading" style="text-align:center;">
</div>
