.InspectorSearch {
  display: flex;
  background: rgba(0, 0, 0, 0.15);
  width: 100%;
  border-radius: 2px;
}

.SearchInput {
  border: 0;
  background: transparent;
  flex: 1;
  outline: none;
}

.SearchState {
  margin: auto 12px;
  display: flex;

  > div {
    margin: auto 0;
  }
}

.SearchStateWorking {
  animation: searchWorking 1s infinite;
  animation-timing-function: linear;
}

@keyframes searchWorking {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
