<div id="graph_loading" style="text-align:center;">
  <br>
  Loading...
  <br>
  <div id="loading">●</div>
</div>

<div class="graph">
  <div class="graph_main">
    <div style="margin-top:27px; margin-left:29px;">
      DPU(일일 결제수)
    </div>
  </div>
  <div id="DPU_div"></div>
</div>

<div class="graph">
  <div class="graph_main">
    <div style="margin-top:27px; margin-left:29px;">
      WPU(주간 결제수)
    </div>
  </div>
  <div id="WPU_div"></div>
</div>

<div class="graph">
  <div class="graph_main">
    <div style="margin-top:27px; margin-left:29px;">
      MPU(월간 결제수)
    </div>
  </div>
  <div id="MPU_div"></div>
</div>
