$headerHeight: 54px;

:local .Header {
  composes: PrimaryBox from 'styles/Container.scss';
}

:local .Container {
  height: $headerHeight;

  composes: Container from 'styles/Container.scss';
}

.Side {
  min-width: 200px;

  > p {
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: $headerHeight;
  }
}

:local .LeftSide {
  float: left;

  composes: Side;

  > h1 {
    padding: 0;
    margin: 0;
    font-size: 36px;
    font-weight: 400;
    line-height: $headerHeight;

    > a {
      line-height: inherit;
      color: inherit;
      text-decoration: none;
    }
  }
}

:local .Middle {
  float: left;
}

:local .RightSide {
  float: right;
  text-align: right;

  composes: Side;
}

.Nav {
  display: block;
  padding: 0;
  margin: 0;

  > li {
    display: inline-block;
    margin: 0 10px;
    line-height: $headerHeight;

    > a {
      color: inherit;
      text-decoration: none;
    }
  }
}

:local .MainNav {
  font-size: 18px;

  composes: Nav;
}

:local .SubNav {
  composes: Nav;
}
