<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://dw02-cb-admin-web-api-app.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>dw02-cb-admin-web-api-app.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>dw02-cb-admin-web-api-app</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$dw02-cb-admin-web-api-app</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CBEntities" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=dwasqldb.database.windows.net;Initial Catalog=dwCloudBread2;User ID=konan@dwasqldb;Password=P@ssw0rd;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CBEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=dwasqldb.database.windows.net;initial catalog=dwCloudBread2;user id=konan@dwasqldb;password=P@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="CloudBreadStorageConString" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=dwcbstordev;AccountKey=2henTkvVo8/5fS+Doh/36rOv6kB3TIjaWXOFM9SUFKmmRkeR/kMUXh4xqzRMRWj8moI2K9ghwluaQSDPl9xlNQ==;BlobEndpoint=https://dwcbstordev.blob.core.windows.net/;TableEndpoint=https://dwcbstordev.table.core.windows.net/;QueueEndpoint=https://dwcbstordev.queue.core.windows.net/;FileEndpoint=https://dwcbstordev.file.core.windows.net/" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CloudBreadStorageConString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=dwcbstordev;AccountKey=2henTkvVo8/5fS+Doh/36rOv6kB3TIjaWXOFM9SUFKmmRkeR/kMUXh4xqzRMRWj8moI2K9ghwluaQSDPl9xlNQ==;BlobEndpoint=https://dwcbstordev.blob.core.windows.net/;TableEndpoint=https://dwcbstordev.table.core.windows.net/;QueueEndpoint=https://dwcbstordev.queue.core.windows.net/;FileEndpoint=https://dwcbstordev.file.core.windows.net/" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="CloudBreadDBConString" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:dwasqldb.database.windows.net,1433;Initial Catalog=dwCloudBread2;User ID=konan@dwasqldb;Password=P@ssw0rd;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CloudBreadDBConString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:dwasqldb.database.windows.net,1433;Database=dwCloudBread2;User ID=konan@dwasqldb;Password=P@ssw0rd;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CBEntities-Web.config Connection String" />
  </ItemGroup>
</Project>