<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        New Member Game Info
        <small>Create a Member Item Purchase</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="{{{url 'home'}}}"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="{{{url 'memberItemPurchase'}}}">List</a></li>
        <li class="active">New Member Item Purchase</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-6">
            <!-- Input addon -->
            <!-- form -->
            <form action="{{{url 'memberItemPurchase.store'}}}" method="post">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">ID Info</h3>
                </div>
                <div class="box-body">
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="purchase[MemberItemPurchaseID]" placeholder="MemberItemPurchaseID" required/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="purchase[MemberId]" placeholder="MemberId" required/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="purchase[ItemListID]" placeholder="ItemListID" required/>
                    </div>
                </div>
            </div>
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Basic Info</h3>
                </div>
                <div class="box-body">
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="purchase[PurchasePrice]" placeholder="PurchasePrice" required/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="purchase[PurchaseQuantity]" placeholder="PurchaseQuantity" required/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="purchase[PGInfo1]" placeholder="PGInfo1"/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="purchase[PGInfo2]" placeholder="PGInfo2"/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="purchase[PGInfo3]" placeholder="PGInfo3"/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="purchase[PGInfo4]" placeholder="PGInfo4"/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="purchase[PGInfo5]" placeholder="PGInfo5"/>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Purchase & Cancel Info</h3>
                </div>
                <div class="box-body">
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="purchase[PurchaseDeviceID]" placeholder="PurchaseDeviceID"/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="purchase[PurchaseDeviceIPAddress]" placeholder="PurchaseDeviceIPAddress"/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="purchase[PurchaseDT]" placeholder="PurchaseDT"/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="purchase[PurchaseCancelYN]" placeholder="PurchaseCancelYN"/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="purchase[PurchaseCancelDT]" placeholder="PurchaseCancelDT"/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="purchase[PurchaseCancelingStatus]" placeholder="PurchaseCancelingStatus"/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="purchase[PurchaseCancelReturnedAmount]" placeholder="PurchaseCancelReturnedAmount"/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="purchase[PurchaseCancelDeviceID]" placeholder="PurchaseCancelDeviceID"/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="purchase[PurchaseCancelDeviceIPAddress]" placeholder="PurchaseCancelDeviceIPAddress"/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="purchase[PurchaseCancelDeviceMACAddress]" placeholder="PurchaseCancelDeviceMACAddress"/>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Extra Data</h3>
                </div>
                <div class="box-body">
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="purchase[sCol1]" placeholder="sCol1" />
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="purchase[sCol2]" placeholder="sCol2" />
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="purchase[sCol3]" placeholder="sCol3" />
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="purchase[sCol4]" placeholder="sCol4" />
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="purchase[sCol5]" placeholder="sCol5" />
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="purchase[sCol6]" placeholder="sCol6" />
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="purchase[sCol7]" placeholder="sCol7" />
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="purchase[sCol8]" placeholder="sCol8" />
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="purchase[sCol9]" placeholder="sCol9" />
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="purchase[sCol10]" placeholder="sCol10" />
                    </div>
                </div>
            </div>
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Access</h3>
                </div>
                <div class="box-body">
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="purchase[PurchaseCancelConfirmAdminMemberID]" placeholder="PurchaseCancelConfirmAdminMemberID"/>
                    </div>
                    <div class="form-group">
                        <label>
                            <input type="radio" name="purchase[HideYN]" class="minimal" checked> Hide Yes
                        </label>
                        &nbsp;
                        <label>
                             <input type="radio" name="purchase[HideYN]" class="minimal"> Hide No
                        </label>
                    </div>
                    <div class="form-group">
                        <label>
                            <input type="radio" name="purchase[DeleteYN]" class="minimal" checked> Delete  Yes
                        </label>
                        &nbsp;
                        <label>
                            <input type="radio" name="purchase[DeleteYN]" class="minimal"> Delete No
                        </label>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="purchase[CreatedAt]" placeholder="CreatedAt" required/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="purchase[UpdatedAt]" placeholder="UpdatedAt" required/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="purchase[DataFromRegion]" placeholder="DataFromRegion"/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="purchase[DataFromRegionDT]" placeholder="DataFromRegionDT"/>
                    </div>
                </div>
            </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-default" onclick="location.href = '{{{url "memberItemPurchase"}}}'">
                        Cancel
                    </button>
                </div>
                <!-- /.box-footer -->
            </form>
            <!-- /form -->
            <!-- /.box -->
        </div>
        <!-- /.col-md-6 -->
    </div>
    <!-- /.row -->
</section>
<!-- /.section -->
