:local .LoadingWrapper {
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  width: 200px;
  height: 200px;
  opacity: 0;
}

:local .Mounted {
  transition: opacity 200ms linear;
}

:local .Activated {
  opacity: 1;
}

:local .Loading {
  position: absolute;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 50%;
  min-height: 100px;

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    content: '';
    background: #004476;
    border-radius: 3px;
    animation: preloader 500ms linear infinite;
  }
  &:before {
    position: absolute;
    top: 59px;
    left: 0;
    width: 50px;
    height: 5px;
    content: '';
    background: #000;
    border-radius: 50%;
    opacity: .1;
    animation: preloader-shadow 500ms linear infinite;
  }
}
@keyframes preloader {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    border-bottom-right-radius: 40px;
    transform: scale(1, .9) translateY(18px) rotate(45deg);
  }
  75% {
    transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    transform: translateY(0) rotate(90deg);
  }
}
@keyframes preloader-shadow {
  50% {
    transform: scale(1.2, 1);
  }
}
