.InspectorHeader {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  height: 56px;
  box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
  z-index: 1000;
}

.Wrapper {
  margin: auto 0;
  display: flex;
  width: 100%;
}

.Side {
  min-width: 200px;
  margin: auto 0;
  display: flex;
}

.Title {
  margin-left: 16px;
  font-size: 24px;
  font-weight: 400;
  text-decoration: none;

  &:link, &:focus, &:visited, &:active {
    color: #222;
  }
}

.Content {
  margin: auto;
  display: flex;
  box-sizing: border-box;
  width: 66.6%;
  height: 36px;
}
