<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        New App Admin Log
        <small>Create a App Admin Log</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="{{{url 'home'}}}"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="{{{url 'appAdminLog'}}}">List</a></li>
        <li class="active">New App Admin Log</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-6">
            <!-- Input addon -->
            <!-- form -->
            <form action="{{{url 'appAdminLog.store'}}}" method="post">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Basic Info</h3>
                </div>
                <div class="box-body">
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="appAdminLog[PartitionKey]" placeholder="PartitionKey" required/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="appAdminLog[RowKey]" placeholder="RowKey" required/>
                    </div>
                </div>
            </div>
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Category Info</h3>
                </div>
                <div class="box-body">
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="appAdminLog[Category1]" placeholder="Category1" required/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="appAdminLog[Category2]" placeholder="Category2"/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="appAdminLog[Category3]" placeholder="Category3"/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="appAdminLog[Category4]" placeholder="Category4"/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="appAdminLog[Category5]" placeholder="Category5"/>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Log</h3>
                </div>
                <div class="box-body">
                    <div class="form-group has-feedback">
                        <textarea class="form-control" name="appAdminLog[LogDescription]" placeholder="LogDescription"></textarea>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Extra Data</h3>
                </div>
                <div class="box-body">
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="appAdminLog[sCol1]" placeholder="sCol1" />
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="appAdminLog[sCol2]" placeholder="sCol2" />
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="appAdminLog[sCol3]" placeholder="sCol3" />
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="appAdminLog[sCol4]" placeholder="sCol4" />
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="appAdminLog[sCol5]" placeholder="sCol5" />
                    </div>
                </div>
            </div>
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Date Time</h3>
                </div>
                <div class="box-body">
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="appAdminLog[TimeStamp]" placeholder="TimeStamp" required/>
                    </div>
                </div>
            </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-default" onclick="location.href = '{{{url "appAdminLog"}}}'">
                        Cancel
                    </button>
                </div>
                <!-- /.box-footer -->
            </form>
            <!-- /form -->
            <!-- /.box -->
        </div>
        <!-- /.col-md-6 -->
    </div>
    <!-- /.row -->
</section>
<!-- /.section -->
